 * {
    margin: 0;
    padding: 0;
 }

 body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    background-color: rgb(248, 247, 247);
    box-sizing: border-box;
   
 }

html{
    scroll-behavior: smooth;
 }

 hr{
    border: none;
    border-bottom: 1px solid lightslategray;
 }
 /* for the navbar  */
 .navbar{
    display: flex;
    padding: 18px 5px;
    justify-content: space-around;   
    height: 24px;
    background-color: rgba(245, 245, 245, 0.90);
    position: sticky;
    top: 0;
    z-index: 1;
}

/* .logo-icon{


}  */


.search-box {
  background-color: white;
  width: 500px;
  border-radius: 6px;
  padding: 17px 12px;
  margin-top: -7px;
  display: flex;
  align-items: center;
  color: #666;
  font-size: 13px;
}

#search-box-input{
  width: 100%;
  outline: none;
  border: none;
  background-color: white;
}

.navbar ul{
    display: flex;
    gap: 30px;
    list-style: none;
}

.navbar li a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.navbar li a:hover{
    text-decoration: underline;
}

/* most popular section */

section h1, section p{
    padding: 15px;
}

.popular-brand{
    padding: 8px;
}

.popular-brand-container{
    display: flex;
    gap: 15px;
}

.popular-brand-card {
    /* padding: 10px; */
    
}

.popular-brand-card img{
    width: 120px;
    height: 60px;
    padding: 10px;
}

.letters-container{
    display: flex;
    gap: 9px;
    padding: 8px;
}

.letters-container a{
    text-decoration: none;
    color: blue;
    margin-left: 15px;

}

   /* phone brand section */

.phone-brand-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.phone-brand-card{
    background-color: blueviolet;
    margin-bottom: 25px;
    margin-left:30px;
    margin-top: 27px;
    width: 220px;
    height: 220px;
}

.phone-brand-card img{
    width: 220px;
    height: 220px;

}


/* footer section */

footer{
   height: 180px;
}

footer hr{
   margin: 20px;
}

.footer-container{
   display: flex;
   justify-content: space-between;
   padding: 25px;
}

.footercard1-contact{
   font-weight: 500;
   margin-top: 50px;
   margin-bottom: 15px;
}

.footercard1-email a{
   color: blue;
   text-decoration: none;padding: 10px;
}

.footer-policy{
   margin-top: 89px;
}

.footer-policy a{
   color: blue;
   text-decoration: none;
}

.footercard2{
   text-align: left;
   margin-right: 70px;
}

.footer-stay-updated{
   font-weight: 500;
   margin-top: 15px;
   margin-bottom: 8px;
}

.footer-bio{
   margin-bottom: 15px;
}

footer input{
   width: 180px;
   height: 25px;
   outline: none;
   border: 1px solid #666;
}

footer input:focus{
    outline:2px solid black;
    border:  1px solid transparent;
}

footer button{
   height: 30px;
   width: 80px;
   background-color: blue;
   border: none;
   color: white;
   cursor: pointer;
}


footer button{
   height: 30px;
   width: 80px;
   background-color: blue;
   border: none;
   color: white;
   cursor: pointer;
   transition: all 0.2s ease-in-out;
}

footer button:hover{
    background-color: rgb(0, 0, 114);
}



