 * {
    margin: 0;
    padding: 0;
 }

 body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    background-color: rgb(248, 247, 247);
    box-sizing: border-box;
   
 }

html{
    scroll-behavior: smooth;
 }

 hr{
    border: none;
    border-bottom: 1px solid lightslategray;
 }
 /* for the navbar  */
 .navbar{
    display: flex;
    padding: 18px 5px;
    justify-content: space-around;   
    height: 24px;
    background-color: rgba(245, 245, 245, 0.90);
    position: sticky;
    top: 0;
    z-index: 1;
}

/* .logo-icon{


}  */


.search-box {
  background-color: white;
  width: 500px;
  border-radius: 6px;
  padding: 17px 12px;
  margin-top: -7px;
  display: flex;
  align-items: center;
  color: #666;
  font-size: 13px;
}

#search-box-input{
  width: 100%;
  outline: none;
  border: none;
  background-color: white;
}

.navbar ul{
    display: flex;
    gap: 30px;
    list-style: none;
}

.navbar li a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.navbar li a:hover{
    text-decoration: underline;
} 

/* for mobile navbar */

.mobile-navbar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    background-color:  rgba(245, 245, 245, 0.90);
    z-index: 999;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.2);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    backdrop-filter: blur(5px);
}
.mobile-navbar a{
    width: 100% !important;
    text-decoration: none;
    color: black;
}

.mobile-navbar li{
    list-style: none;
    padding: 25px;
    width: 100% !important;
    background-color: transparent;
}
.mobile-navbar ul{
    width: 100%;
}

.material-symbols-outlined:hover{
    cursor: pointer;
}

#btn{
    display: none;
}

#material-symbols-close{
    cursor: pointer;
    right: 0 !important;
    top: 0 !important;
}

.mobile-navbar li:hover{
    background-color: #666;
}


 /* mini view section  */

.mini-view{
    height: 300px;
    background-color:  rgba(245, 245, 245, 0.90);
    box-sizing: border-box;
}

.mini-view-section{
    display: flex;
}

/* .mini-view hr{
    /* margin: 20px; 
} */

.mini-view-card-img img{
    width:170px;
    padding: 15px;
}

.mini-view-details-container{
    display: flex;
    gap: 40px;
}

.mini-view-details-card{
    margin-left: 20px;
}


.mini-view-details h1{
    font-size: 3pc;
    margin-top: 10px;
    margin-bottom: 25px;
}

.mini-view-name-date{
    display: flex;
    margin-bottom: 15px;
}

.mini-view-name-date div{
    font-weight: 500;
    font-size: 17px;
}

.mini-view-price-avail{
    display: flex;
    gap: 10px;
}

.mini-view-btn{
    gap: 10px;
    margin-top: 15px;
}

.mini-view-btn1{
    padding: 8px 22px;
    border-radius: 40px;
    cursor: pointer;
    font-weight: 400;
    font-size: 15px;
}

.mini-view-btn2{
    padding: 8px 22px;
    border-radius: 40px;
    cursor: pointer;
    font-weight: 400;
    font-size: 15px;
}

.mini-view-build{
    background-color: white;
    width: 570px;
    height: 120px;
    margin-top: 110px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.6); 
    transition: 0.2s ease;
    box-sizing: border-box;
}
.mini-view-build h3{
    margin-left: 18px;
    margin-top: 10px;
}


 /* full spec display page  */

.full-spec-display-page{
    background-color: rgba(245, 245, 245, 0.90);
    height: 700px;
}

.full-spec-display-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-evenly;
    gap: 38px;
    padding: 25px;
    box-sizing: border-box;
}

.full-spec-display-card{
    width: 370px;
    height: 300px;
    background-color: white;
    padding: 10px;
    border-radius: 12PX;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.6); 
    transition: 0.2s ease;
    box-sizing: border-box;
}

.full-spec-display-card hr{
    margin-left: 5px;
    margin-right: 5px;
}

.full-spec-display-card h3{
    padding: 5px;
    margin-left: 15px;
}

.performance-spec{
    margin: 15px;
    font-weight: 500;
}

.performance-spec span{
    font-weight: 400;
}



/* footer section */

footer{
   height: 180px;
}

footer hr{
   margin: 20px;
}

.footer-container{
   display: flex;
   justify-content: space-between;
   padding: 25px;
}

.footercard1-contact{
   font-weight: 500;
   margin-top: 50px;
   margin-bottom: 15px;
}

.footercard1-email a{
   color: blue;
   text-decoration: none;padding: 10px;
}

.footer-policy{
   margin-top: 89px;
}

.footer-policy a{
   color: blue;
   text-decoration: none;
}

.footercard2{
   text-align: left;
   margin-right: 70px;
}

.footer-stay-updated{
   font-weight: 500;
   margin-top: 15px;
   margin-bottom: 8px;
}

.footer-bio{
   margin-bottom: 15px;
}

footer input{
   width: 180px;
   height: 25px;
   outline: none;
   border: 1px solid #666;
}

footer input:focus{
    outline:2px solid black;
    border:  1px solid transparent;
}

footer button{
   height: 30px;
   width: 80px;
   background-color: blue;
   border: none;
   color: white;
   cursor: pointer;
   transition: all 0.2s ease-in-out;
}

footer button:hover{
    background-color: rgb(0, 0, 114);
}





/* tablet style */



@media (min-width: 828px) and (max-width: 1249px){

   /* navbar section */

    .search-box{
        width: 350px;
    }

    /* mini view section */

    .mini-view{
    height: 400px;
    }

    .mini-view-card-img img{
    width:150px;
    padding: 15px;
    margin-top: 50px;
    }

    .mini-view-details-container{
        display: table-row-group;
    
    }

    .mini-view-build{
        margin-top: 20px;
    }


    /* full spec display page  */

    .full-spec-display-page{
        height: 1030px;
    }

    .full-spec-display-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-around;
    }

    .full-spec-display-card{
        width: 370px;
    }

    /* footer section */

    footer input{
        margin-bottom: 10px;
    }

}


/* for side view mobile display */

@media (min-width: 600px) and (max-width: 828px){

    /* for the nav bar */

    .hidden{
        display: none !important;
    }
    .search-box{
        width: 400px;
    }

    
    .mobile-navbar{
        width: 100% !important;
    }

    #btn{
    display: block;
    }



    /* mini view section */

    .mini-view{
    height: 400px;
    }

    .mini-view-card-img img{
    width:150px;
    padding: 15px;
    margin-top: 50px;
    }

    .mini-view-details-container{
        display: table-row-group;
    
    }

    .mini-view-build{
        margin-top: 20px;
    }


        /* full spec display page  */

   .full-spec-display-page{
        height: 2070px;
    }

    .full-spec-display-container{
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
    }

    .full-spec-display-card{
        width: 550px;
    }


    /* footer section */

    footer button{
        margin: 7px;
    }



}




/* for mobile view */


@media (min-width: 200px) and (max-width: 599px){

    /* navbar section */

    .hidden{
        display: none !important;
    }
    .search-box{
        width: 200px;
    }

    .mobile-navbar{
        width: 100% !important;
    }

    #btn{
    display: block;
    right: 0;
    }


    /* mini view section */

    .mini-view{
    height: 300px;
    }

    .mini-view-btn1{
      margin-top: 15px;
    }

    .mini-view-btn2{
      margin-top: 21px;
    }

    .mini-view{
    height: 400px;
    } 

    .mini-view-card-img img{
    width:150px;
    padding: 10px;
    margin-top: 35px;
    }

    .mini-view-details h1{
    font-size: 23pX;
    margin-top: 5px;
    margin-bottom: 15px;
}


    /* full spec display page  */

    .full-spec-display-page{
        height: 2080px;
    }

    .full-spec-display-container{
        display: grid;
        grid-template-columns: 1fr;
        justify-content: space-around;
    }

    .full-spec-display-card{
        width: 370px;
    }


    /* footer section */

    
   footer button{
    margin: 6PX;
   }

}
